@media screen and (max-width: 734px) {
    .header-section{
       
     width: 734px;
     height: 398px;
    }
    .header-text h1{
     font-size: 40px;
     line-height: 50px;
    }
 
    .header-text{
     position: absolute;
     width: 316px;
     height: 276px;
     top: 12px;
     left: 55px;
    
   }
   .header-image img{
     width: 323px;
     height: 340px;
     position: relative;
     top: 218px;
   }
   .header-image{
     position: absolute;
     top: -10em;
     left: -20em;
   }
   .button-11{
    visibility: visible;
    position: absolute;
    top: 1950px;
   }
 
   /* side-menu */
  
   #ok{
     position: absolute;
     width: 200px;
     height: 44px;
     left: 20px;
     top: -330px;
     color: #000;
     border: 1px solid rgba(128, 128, 128, 0.562);
     padding-top: 35px;
     
   }
   #one{
     position: absolute;
     width: 100px;
     height: 44px;
     left: 250px;
     top: -330px;
     color: #000;
     border: 1px solid rgba(128, 128, 128, 0.562);
     padding-top: 35px;
   }
   #two{
     position: absolute;
     width: 110px;
     height: 44px;
     left: 480px;
     top: -330px;
     color: rgb(8, 3, 3);
     border: 1px solid rgba(128, 128, 128, 0.562);
     padding-top: 35px;
     background-color: #fff;
   }
   
    .side-menu{
      background-color: #fff;
    
    }
 
    .blog-site{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
   }
 
    /* box */
    .box-1{
     position: absolute;
     width: 310px;
     height: 414.21px;
     left: 140px;
     top: 612px;
 }
 .box-2{
     position: absolute;
     width: 310px;
     height: 414.21px;
     left: 550px;
     top: 612px;
 }
 .box-3{
     position: absolute;
     width: 310px;
     height: 414.21px;
     left: 140px;
     top: 1046px;
 }
 .box-4{
     position: absolute;
     width: 310px;
     height: 414.21px;
     left: 550px;
     top: 1046px;
 }
 .box-5{
     position: absolute;
     width: 310px;
     height: 414.21px;
     left: 140px;
     top: 1480px;
 }
 .box-6{
     position: absolute;
     width: 310px;
     height: 414.21px;
     left: 550px;
     top: 1480px;
 }
 /* footer */
 
 footer{
    
    width: 100%;
    position: relative;
    top: 2000px;
    height: 500px;
 }
 .footer{
     text-align: center;
     position: relative;
     top: 120px;
     font-size: 40px;
     color: #fff;
 }
 .text{
    display: flex;
    position: absolute;
    left: 21.94%;
    right: 21.94%;
    top: 80%;
    bottom: 5.13%;
}
.footer h1{
    position: relative;
    top: 40px;
    
}
.anything input[type=text]{
    position: relative;
    top: 2px;
    left: -50px;
    width: 500px;
}
 
.text p{
  padding: 5px;
}
.icon-end a i{
    padding-right: 25px;
    position: relative;
    top: 100px;
    left: 5%;
}










 }

/* For Mobile */
@media screen and (max-width: 480px){

    .header-section{
        overflow: hidden;
        position: relative;
        width: 675px;
        height: 887px;
     }
    .header-text{
        text-align: center;
        position: absolute;
        width: 258px;
        height: 178px;
        left: 180px;
        top: 72px;
        
    }
    
    .header-image img{
        position: absolute;
        width: 350px;
        height: 350px;
        left: 500px;
        top: 695px;
    }
    .side-menu ul{
        vertical-align: bottom;
        position: absolute;
        left: -15px;
        top: -250px;
    
    }
    #two{
        background-color: #DD0000;
        color: #fff;
    }
    footer{
        /* overflow: hidden; */
        width: 52em;
    }

    .button-11{
        visibility: hidden;
       }
     






  
}
 